*{ margin: 0; padding: 0; }*
body { font: .8em Arial, Sans-Serif; line-height: 1.8em; background: #333; color: #444; }
a {COLOR: #FF7A09; text-decoration: none;}
a:visited {COLOR: #FF7A09; text-decoration: none;}
a:hover {COLOR: #333; text-decoration: underline;}
h2 { margin: 0 0 10px; padding: 10px 0 3px; }
h3 { padding-left: 10px; color: #fff; background: #FE7B09 url(images/bg.jpg) repeat-x; font-size: 1em; height: 24px; line-height: 24px; }
ul {  padding: 0; margin: 0 0 10px;}
li { list-style-type: none;}
p { margin: 5px 0 10px 0; }
img { border: none; }

#header {
background: #FE7B09 url(img/header.jpg) repeat-x;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 30%;
}
#header h1 {
font-size: 46px;
font-weight: 100;
letter-spacing: -1px;
padding: 22px 10px 5px 10px;
text-align: right;
}
#header h1 a {
color: #803300;
text-decoration: none;
}
#header h1 a:hover {
color: #331400;
text-decoration: none;
}
#header h2 {
color: #803300;
font-size: 19px;
font-weight: 100;
text-align: right;
padding: 0 10px 0 11px;
letter-spacing: -1px;
line-height: 30px;
}

#wrap { padding: 10px 10px 3px 10px; width: 80%; margin:20px auto; background: #fff;}
#left { float: left; width: 17%; background: #FFD8AF; margin-bottom: 10px; margin-top: 20px; border: 1px dotted #FF8B1E;}
#left ul { padding: 5px 10px 10px 10px; margin: 0; }
#right { margin-bottom: 10px; float: right; width: 80%; padding: 0 10px 10px 10px; margin-top: 10px;}
	
#footer { font-size: 11px; text-align: center; border-top: 1px solid #ccc; padding: 10px 5px; }